:root {
  --bg: #282c34;
  --main: #21DDF7;
  --bgLight: #586a8e;
}

header, footer {
  color: var(--main);
}

header {
  padding: 15px 0;
  margin-bottom: -52px;
}

.flex {
  display: flex;
  align-items: center;
  justify-content: center;
}

section {
  min-height: 75vh;
}

.plutoBGSection {
  background-size: cover !important;
  background-position: 50% 70% !important;
  background-repeat: no-repeat !important;
  background: url(/public/pluto_background.png);
}

.App {
  text-align: center;
}

.App-logo {
  height: 55px;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.containerWithSpinningLogo {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
